langchain
langchain-core

langchain-openai
openai

langchain-anthropic
anthropic

langchain-google-genai
google-genai

langchain-huggingface
transformers
huggingface-hub

python-dotenv

numpy
scikit-learn